@media print {
  body {
    background-color: black;
  }
}

body {
  background-color: black;
  background-image: url(./bkg/bkg.jpg);
  font-family: 'Din Condensed';
  text-transform: uppercase;
}

#main {
  width: 1080px;
  height: 1080px;
}

#title {
  color: white;
  font-size: 7rem;
  padding: 1rem;
}

#grid-container {
  border-radius: 1.5rem;
  padding: 2rem;
  background-color: white;
  margin-left: 1rem;
}

.grid-row {
  display: grid;
  grid-template-columns: 4rem 7rem 46rem 6rem;
  max-height: 7rem;
  align-items: center;
  margin-bottom: 0.35rem;
}

.small {
  font-size: 2em;
}

.bold {
  font-weight: bold;
}

.event-title {
  margin-left: 1rem;
  align-self: baseline;
}

.time {
  font-size: 2.3em;
}

.icon {
  margin: auto;
  max-width: 5.5rem;
}

.day {
  font-size: 5em;
}

.spacer {
  max-height: 0.6em;
}

